{% extends "base.html" %}

{% block content %}
    <div class="content m-4 center-block">
        <h1>Movie API Search Tool</h1>
    
   <p class="text-center">Uses The  IMBD API, OpenMovieDB API, and the YouTube API to look up your favorite movies.</p>
    
    <form class="text-center" method="GET" action="/get_movie">
        <label for="movie_name">Search query:</label> 
        <br>
        <input id="movie_name" name="movie_name" class="form-control" placeholder="Enter movie name">
        <br>
        <input class="btn btn-success" id="submit-button" type="submit" value="GO" />
    </form>
        
</div>

<div class="content m-4 center-block text-center">

    <button class="btn btn-success"><a href="/show_bookmarks/" class="text-white">Bookmarks</a></button>

</div>

<div class="content m-4 center-block text-center">
    
    <h1 id="movie-quoter">Movie Quoter</h1>
    {% if movie_quote %}
        <div id="quote">
            "{{ movie_quote.quote }}"
        </div>    
        <div>
            - {{ movie_quote.author }}
        </div>
    {% else %}
        <div id="quote">
            Unable to retrieve movie quote.
        </div>    
    {% endif %}    
</div>

{% endblock %}
  
