{% extends "base.html" %}

{% block content %}
    <div class="content m-4 center-block">
        <h1>Movie API Search Tool</h1>
    
        <p>Uses The IMBD API, Wikipidia API, and the YouTube API to look up your favorite movies.</p>
        
        <form method="GET" action="/get_movie">
        <label for="search-query">Search query: </label> 
        <br>
        <input id="movie_name" name="movie_name">
        <br>
        <input class="btn btn-success" id="submit-button" type="submit" value="GO" />
        <form>
            
    </div>

{% endblock %}
  
