{% extends "base.html" %}

{% block content %}
    <div class="movie-details">
        <p class="movie-detail">
            MOVIE_ID: {{ data.id }}<br>
            ORIGINAL_TITLE: {{ data.original_title }}<br>
            TITLE: {{ data.title }} <br>
            RELEASE-DATE: {{ data.release_date }}<br>
            BUDGET: {{ data.budget }}<br>
            REVENUE: {{ data.revenue }}<br>
        </p>

        <p class="movie-detail">
            OVERVIEW: {{ data.overview }}
        </p>

        <p class="movie-detail">
            SHORT WIKIPEDIA SUMMARY: {{ data.plotShort }}
        </p>

        <div class="movie-images">
            {% for image in data.image_list %}
            <div class="movie-image">
                <img src= "{{ image }}"> <br>
            </div>
            {% endfor %}
        </div>
<!-- trailer_video -->

{% if youtube_trailer %}

<h2>{{ youtube_trailer.title }}</h2>

<iframe width="420" height="315" src="https://www.youtube.com/embed/{{youtube_trailer.video_id}}"></iframe>

{% else %} 

<h2>Sorry, no trailer</h2>

{% endif %}

        <p class="movie-detail">
            GENRE:
            {% for genre in data.genre_list %}
            {{ genre }}
            {% endfor %}
        </p>

        <p class="movie-detail">
            PRODUCTION COMPANIES:
            <br> 
            {% for company in data.production_companies_list %}
            {{ company }}<br>
            {% endfor %}
        </p>

        <button class="btn btn-success left" id="home-button"><a href="/">Home</a></button>

        <button class="btn btn-success" id="add-bookmark-button" onclick="displayBookmarkAddedMessage('{{ data.title }}')">Add Bookmark</button>
        <script>
            function displayBookmarkAddedMessage(title) {
                // Call the /add_bookmark/ route to add the bookmark to the database
                fetch(`/add_bookmark/?title=${title}`).then(response => {
                    // Hide the "Add Bookmark" button and display the "bookmark added" message
                    document.querySelector('#add-bookmark-button').style.display = 'none';
                    document.querySelector('#bookmark-added-message').style.display = 'block';
                });
            }
        </script>

        <div id="bookmark-added-message" style="display: none;">
            Bookmark added!
        </div>
    </div>

{% endblock %}
