{% extends "base.html" %}

{% block content %}
<p>
    
    MOVIE_ID: {{ overview_data.id }}<br>
    ORIGINAL_TITLE: {{ overview_data.original_title }}<br>
    TITLE: {{ overview_data.title }} <br>
    RELEASE-DATE: {{ overview_data.release_date }}<br>
    BUDGET: {{ business_data.budget }}<br>
    REVENUE: {{ business_data.revenue }}<br>
    
</p>

<p> 
    OVERVIEW: {{ overview_data.overview }}

</p>

<p>
    {% for image in image_list %}
    <div>
        <img src= "{{ image }}"> <br>
    </div>
    {% endfor%}
</p>

<p> GENRE:
    {% for genre in genre_list %}

    {{ genre }}
    {% endfor %}
</p>

<p>PRODUCTION COMPANIES:
    <br> 
    {%for company in production_companies_list %}
    {{ company }}<br>
    {% endfor %}
</p>


        
<button class="btn btn-success left" id="submit-button"> <a href="/">Home</a></button>
        


    

{% endblock %}