{% extends "base.html" %}

{% block content %}
    <div class="movie-details">
        <p class="movie-detail">
            MOVIE_ID: {{ overview_data.id }}<br>
            ORIGINAL_TITLE: {{ overview_data.original_title }}<br>
            TITLE: {{ overview_data.title }} <br>
            RELEASE-DATE: {{ overview_data.release_date }}<br>
            BUDGET: {{ business_data.budget }}<br>
            REVENUE: {{ business_data.revenue }}<br>
        </p>

        <p class="movie-detail">
            OVERVIEW: {{ overview_data.overview }}
        </p>

        <p class="movie-detail">
            SHORT WIKIPEDIA SUMMARY: {{ wikipedia_summary["plotShort"] }}
        </p>

        <div class="movie-images">
            {% for image in image_list %}
            <div class="movie-image">
                <img src= "{{ image }}"> <br>
            </div>
            {% endfor %}
        </div>

        <p class="movie-detail">
            GENRE:
            {% for genre in genre_list %}
            {{ genre }}
            {% endfor %}
        </p>

        <p class="movie-detail">
            PRODUCTION COMPANIES:
            <br> 
            {% for company in production_companies_list %}
            {{ company }}<br>
            {% endfor %}
        </p>

        <button class="btn btn-success left" id="home-button"><a href="/">Home</a></button>

        <button class="btn btn-success" id="add-bookmark-button" onclick="displayBookmarkAddedMessage('{{ overview_data.title }}')">Add Bookmark</button>

        <div id="bookmark-added-message" style="display: none;">
            Bookmark added!
        </div>
    </div>

{% endblock %}
